attrs==23.2.0 ; python_version >= "3.9" and python_version < "4.0"
blinker==1.8.2 ; python_version >= "3.9" and python_version < "4.0"
cattrs==23.2.3 ; python_version >= "3.9" and python_version < "4.0"
certifi==2024.7.4 ; python_version >= "3.9" and python_version < "4.0"
cffi==1.16.0 ; python_version >= "3.9" and python_version < "4"
charset-normalizer==3.3.2 ; python_version >= "3.9" and python_version < "4.0"
click==8.1.7 ; python_version >= "3.9" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "4.0" and platform_system == "Windows"
exceptiongroup==1.2.2 ; python_version >= "3.9" and python_version < "3.11"
flask==2.3.3 ; python_version >= "3.9" and python_version < "4.0"
h3==3.7.7 ; python_version >= "3.9" and python_version < "4"
idna==3.7 ; python_version >= "3.9" and python_version < "4.0"
importlib-metadata==8.0.0 ; python_version >= "3.9" and python_version < "3.10"
itsdangerous==2.2.0 ; python_version >= "3.9" and python_version < "4.0"
jinja2==3.1.4 ; python_version >= "3.9" and python_version < "4.0"
jplephem==2.22 ; python_version >= "3.9" and python_version < "4.0"
llvmlite==0.43.0 ; python_version < "4" and python_version >= "3.9"
markupsafe==2.1.5 ; python_version >= "3.9" and python_version < "4.0"
numba==0.60.0 ; python_version < "4" and python_version >= "3.9"
numpy==2.0.0 ; python_version >= "3.9" and python_version < "4.0"
platformdirs==4.2.2 ; python_version >= "3.9" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.9" and python_version < "4"
python-dateutil==2.9.0.post0 ; python_version >= "3.9" and python_version < "4.0"
requests-cache==1.2.1 ; python_version >= "3.9" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.9" and python_version < "4.0"
schedule==1.2.2 ; python_version >= "3.9" and python_version < "4.0"
sentry-sdk[flask]==1.45.0 ; python_version >= "3.9" and python_version < "4.0"
setuptools==71.0.3 ; python_version >= "3.9" and python_version < "4"
sgp4==2.23 ; python_version >= "3.9" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.9" and python_version < "4.0"
skyfield==1.49 ; python_version >= "3.9" and python_version < "4.0"
timezonefinder[numba]==6.5.2 ; python_version >= "3.9" and python_version < "4"
typing-extensions==4.12.2 ; python_version >= "3.9" and python_version < "3.11"
url-normalize==1.4.3 ; python_version >= "3.9" and python_version < "4.0"
urllib3==2.2.2 ; python_version >= "3.9" and python_version < "4.0"
werkzeug==3.0.3 ; python_version >= "3.9" and python_version < "4.0"
zipp==3.19.2 ; python_version >= "3.9" and python_version < "3.10"
