<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Logging Night</title>
    <meta name="description" content="Trouble keeping your sunsets straight from your civil twilights?  Can't remember when your TOMATOFLAMES require FLAPS?  Find USNO astronomical tables confusing?  We've got your back. Tell us your airport ID, and optionally a date, and we'll tell you what the Federal Aviation Regulations say about when you need to fly and what you can log.">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
</head>

<body><script type="text/javascript">
  document.addEventListener('readystatechange', event => {
    if (event.target.readyState === 'complete') {
      $( function() {
        var $has_results = "{{ result != None }}".toLowerCase();
{% if result and result['error'] %}
        var $has_error = true;
{% else %}
        var $has_error = false;
{% endif %}

        $("#date").datetimepicker()
        $("#date").data("DateTimePicker").format("YYYY-MM-DD");
        $("#date").data("DateTimePicker").widgetPositioning({horizontal: 'auto', vertical: 'top'});
        if ($has_results == "true"){$("#date").data("DateTimePicker").date("{{ result['date'] }}")};

        $("#inp").submit(function(event) {
          event.preventDefault();
          $('#submit_btn').prop('disabled', true);
          var queryString = "?airport=" + encodeURIComponent($('#airport').val()) + "&date=" + encodeURIComponent($('#date').val());
          window.history.pushState(null, null, queryString);
          if (typeof window.ga === "function") { 
            window.ga('set', 'page', '/' + queryString);
            window.ga('send', 'pageview');
          };
          $.post('/lookup', $.param($('#inp input')), function(data) {
            if (data.error) {
              $('#error_output').text("There has been an error: ");
              $('#error_output').append(data.responseText);
              $('#error_output').show();
            } else {
              $('#error_output').hide();
              $('#error_output').text("");
              $('#out_airport_name').text(data.name);
              $('#out_city_name').text(data.city);
              $('#out_date').text(data.date);
              $('#out_sunrise').text(data.sunrise);
              $('#out_sunset').text(data.sunset);
              $('#out_start_civil_twilight').text(data.start_civil);
              $('#out_end_civil_twilight').text(data.end_civil);
              $('#out_hour_before_sunrise').text(data.hour_before);
              $('#out_hour_after_sunset').text(data.hour_after);
              $('#output').show();
              $('html, body').animate({
                scrollTop: ($('#output').offset().top)
              },500);

              if ("{{ dev_mode }}" == "true")
              {
                  $('#debug').text(data.airport_debug);
                  $('#debug').append("\n");
                  $('#debug').append(data.usno_debug);
              }

            }
          }, 'json')
            .fail(function(data) { 
              $('#error_output').text("An error has occurred: ");
              $('#error_output').append(data.responseText);
              $('#error_output').show()
              $('#output').hide(); 
            })
            .always(function() {
              $('#submit_btn').prop('disabled', false);
            });

        });

        if ($has_error == false)
        {
            $('#error_output').hide();
            $('#error_output').text("");
        }
        if ($has_results == "true")
        {
            $('#output').show();
        };
        $('#submit_btn').prop('disabled', false);

      } );
    }
  });
</script>
    <header class="masthead text-center text-white" style="padding-top: 50px;">
        <div class="masthead-content">
            <p class="text-warning border-warning text-uppercase font-weight-bolder" id="error_output" style="font-size: 20px;margin-right: 16px;margin-left: 16px;background-color: rgba(255,255,255,1); {% if not result['error'] %}display: none;{% endif %}">{% if result['error'] %}There is an error: {{ result['error'] }}{% endif %}<br></p>{% if dev_mode == "true" %}
            <p class="text-warning d-md-block font-weight-bold" id="dev_site_warning" style="font-size: 20px;margin-right: 16px;margin-left: 16px;background-color: rgba(255,255,255,1);">Warning: This is the dev website. Production can be found at&nbsp;<a href="https://loggingnight.org/">https://loggingnight.org/</a><br></p>{% endif %}
            <p class="text-info d-md-block font-weight-bold" id="usno_down_info" style="font-size: 20px;margin-right: 16px;margin-left: 16px;background-color: rgba(255,255,255,1);">We are currently calculating our own astronomical data while <a href="https://www.usno.navy.mil/USNO/astronomical-applications">the USNO is out of service</a>. Please sanity check the times you get and report problems on <a href="https://github.com/kdknigga/loggingnight/issues">our GitHub page</a>.<br></p>
            <p
                class="d-none d-md-block" style="font-size: 20px;margin-right: 16px;margin-left: 16px;">Trouble keeping your sunsets straight from your civil twilights? Can't remember when your TOMATOFLAMES require FLAPS? Find USNO astronomical tables confusing? We've got your back.<br></p>
                <p style="font-size: 20px;margin-right: 16px;margin-left: 16px;">Plug in your airport ID, and optionally a date, below and we'll tell you what the Federal Aviation Regulations say about what you need to fly and what you can log.</p>
                <form class="text-center d-inline-flex flex-column justify-content-center align-items-center align-content-center align-self-center flex-wrap"
                    id="inp" style="margin-top: 32px;"><label for="airport">FAA or ICAO Airport ID</label><input class="form-control form-control-lg" type="text" id="airport" minlength="3" maxlength="4" required="" name="airport" placeholder="KORD" style="max-width: 560px; text-align: center;"
                        autofocus="" value="{% if result %}{{ result['airport'].upper() }}{% endif %}" tabindex="1"><label for="date">Date</label><input class="form-control form-control-lg datetimepicker" type="text" id="date" name="date" style="max-width: 560px; text-align: center;"
                        value="{% if result %}{{ result['date'] }}{% endif %}" autocomplete="off" tabindex="2"><button class="btn btn-primary btn-lg" id="submit_btn" type="submit" style="margin-top: 32px;" tabindex="3">Get Night</button></form>
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
    </header>
    <section id="output" style="{% if not result or result['error'] %}display: none;{% endif %}">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-center card-title" id="out_airport_name"><strong>{% if result['airport'] is defined %}{{ result['name'] }}{% endif %}</strong></h1>
                    <h2 class="text-center text-muted card-subtitle mb-2" id="out_city_name">{% if result['airport'] is defined %}{{ result['city'] }}{% endif %}</h2>
                    <p class="text-center card-text" id="out_date">{% if result['airport'] is defined %}{{ result['date'] }}{% endif %}</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center card-title">Until Sunrise and after Sunset...</h3>
                    <div class="table-responsive table-borderless text-center">
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>Sunrise</th>
                                    <th>Sunset</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="out_sunrise">{% if result['airport'] is defined %}{{ result['sunrise'] }}{% endif %}</td>
                                    <td id="out_sunset">{% if result['airport'] is defined %}{{ result['sunset'] }}{% endif %}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="text-center card-text">Position lights required.<br>(<a href="https://www.law.cornell.edu/cfr/text/14/91.209">14 CFR 91.209(a)</a>)</p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center card-title">Until the start of civil twilight and after the end of civil twilight...</h3>
                    <div class="table-responsive table-borderless text-center">
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>Start of civil twilight</th>
                                    <th>End of civil twilight</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="out_start_civil_twilight">{% if result['airport'] is defined %}{{ result['start_civil'] }}{% endif %}</td>
                                    <td id="out_end_civil_twilight">{% if result['airport'] is defined %}{{ result['end_civil'] }}{% endif %}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="text-center card-text">Night time can be logged and aircraft must be night equipped.<br>(<a href="https://www.law.cornell.edu/cfr/text/14/61.51">14 CFR 61.51(b)(3)(i)</a>, <a href="https://www.law.cornell.edu/cfr/text/14/91.205">14 CFR 91.205(c)</a>, and
                        <a href="https://www.law.cornell.edu/cfr/text/14/1.1">14 CFR 1.1</a>)<br></p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center card-title">Until one hour before Sunrise and after one hour after Sunset...</h3>
                    <div class="table-responsive table-borderless text-center">
                        <table class="table table-bordered table-sm">
                            <thead>
                                <tr>
                                    <th>One hour before Sunrise</th>
                                    <th>One hour after Sunset</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="out_hour_before_sunrise">{% if result['airport'] is defined %}{{ result['hour_before'] }}{% endif %}</td>
                                    <td id="out_hour_after_sunset">{% if result['airport'] is defined %}{{ result['hour_after'] }}{% endif %}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p class="text-center card-text">Must be night current to carry passengers, and takeoffs and landings count towards currency.<br>(<a href="https://www.law.cornell.edu/cfr/text/14/61.57">14 CFR 61.57(b)</a>)</p>
                </div>
            </div>
        </div>
    </section>{% if dev_mode == "true" %}
<pre id="debug" style="text-align: left;">{% if result %}{{ result|pprint }}{% endif %}</pre>
{% endif %}
    <footer class="py-5 bg-black">
        <div class="container">
            <p class="text-center text-white m-0 small"><a href="https://github.com/kdknigga/loggingnight">check out the source on github!</a><br><a href="https://github.com/kdknigga/aeroinfo">airport information courtesy of aeroinfo</a><br><a href="http://aa.usno.navy.mil/data/docs/RS_OneDay.php">astronomical data courtesy of the united states naval observatory</a><br></p>
        </div>
    </footer>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/script.min.js"></script>
</body>

</html>